.repolist-container{
    margin: 1% 5%;
}
.repo-head{
    margin: 1%;
    padding: 1%;
    text-align: center;
    background-color: rgb(4, 4, 92);
    color: white;
    font-size: 20px;
}
.repo-body{
    margin: 1%;
    padding: 0.3%;
    text-align: center;
    background-color: white;
}
.leftAlign{
    text-align: left;
}
